.footer-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;

  padding: 50px;
}

.footer-container {
  width: 1100px;
  height: 300px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-header-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}
.footer-header-container h1 {
  font-family: "muli", sans-serif;
  font-weight: 400;
  font-size: 30px;

  margin-right: 10px;

  color: white;
}
.footer-header-container span {
  font-size: 40px;

  color: white;
}

.footer-content-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-content-header {
  width: 400px;
  display: grid;
  grid-template-columns: auto auto;

  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-content-header h2 {
  font-family: "muli", sans-serif;
  font-weight: 700;
  font-size: 14px;

  line-height: 20px;

  color: #6e6b6f;
}

.footer-content-logos {
  display: flex;

  text-align: left;
}
.footer-content-logos img {
  height: 2rem;
  margin-right: 10px;

  filter: invert(46%) sepia(5%) saturate(278%) hue-rotate(240deg)
    brightness(87%) contrast(84%);
}
.footer-content-logos p {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-size: 12px;

  margin-right: 20px;

  color: #6e6b6f;
}

.content-logo-right {
  display: flex;
  align-items: center;
}
.content-logo-right img {
  width: auto;
  height: 32px;

  filter: invert(46%) sepia(5%) saturate(278%) hue-rotate(240deg)
    brightness(87%) contrast(84%);
}
.content-logo-right i {
  font-size: 1.5rem;

  color: #6e6b6f;
}
.fa-facebook {
  margin-left: 10px;
  margin-right: 10px;
}
