.slider-section {
  height: 600px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}
.slider-container {
  width: 100%;
  height: 100%;

  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.slider {
  width: 1200px;
  z-index: 1;
}

.slider-title {
  font-family: "muli";
  font-weight: 600;
  font-size: smaller;

  z-index: 2;

  margin-bottom: 20px;

  color: white;
}

.main-slider {
  width: 100%;
  height: 500px;

  display: flex;

  box-shadow: 50px 0 30px -1px rgba(44, 37, 45, 0.8),
    -50px 0 30px -1px rgba(44, 37, 45, 0.8);
  background-color: #231d23;
}

.col {
  width: 50%;
}

.image-col {
  width: 60%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.content-col {
  width: 40%;

  position: relative;

  text-decoration: none;
  font-family: "muli";
  font-weight: 600;

  padding: 30px;
  padding-right: 0;
}

.top-seller {
  display: flex;
  align-items: center;
  align-content: center;

  color: #00aeef;
}

.top-seller-txt {
  padding: 8px;

  font-family: "muli";
  font-weight: 700;
  font-size: small;
}

.game-title {
  font-family: "muli";
  font-weight: 300;
  font-size: xx-large;

  color: white;
}

.slider-keywords {
  font-family: "muli";
  font-weight: 700;

  color: #6e6b6f;

  display: flex;
  align-items: center;
  align-content: center;
}
.slider-keywords i {
  color: #00aeef;
}
.slider-keywords p {
  padding: 5px;
  font-size: 15px;
}

.slider-price {
  position: absolute;
  bottom: 80px;

  font-family: "muli";
  font-weight: 300;
  font-size: x-large;

  color: white;
}

.slider-bottom-content {
  width: 90%;
  height: 60px;

  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;

  bottom: 15px;
  margin-bottom: 0;

  color: #6e6b6f;
}

.slider-buy {
  width: 80px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;

  margin-right: 8px;

  font-size: xx-large;

  color: #6e6b6f;
  background-color: #2c252d;
}

.slider-wishlist {
  width: 45px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;

  margin-right: 8px;

  font-size: xx-large;

  color: #6e6b6f;
  background-color: #2c252d;
}

.fa-windows {
  font-size: 17px;

  padding-right: 3px;
  padding-left: 8px;
}

.fa-apple {
  font-size: 17px;

  margin-bottom: 2px;
  padding-left: 3px;
}

.slider-review-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  right: 10px;
}
.slider-review {
  font-family: "muli";
  font-weight: 800;
  font-size: smaller;

  margin-right: 10px;
  margin-bottom: 2px;
}

.fa-face-grin-beam {
  font-size: x-large;

  color: #39cb87;
}

.left-slider {
  width: 250px;
  height: 400px;

  margin-top: 40px;

  display: flex;
  align-items: flex-end;

  background-image: url("/imgs/backgrounds/main-slider/assassins-creed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left 15%;
}
.left-game-title {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-image: linear-gradient(
    to top,
    black 0%,
    rgb(0, 0, 0, 0.7) 50%,
    rgb(0, 0, 0, 0) 100%
  );
}
.left-slider h3 {
  font-family: "muli";
  font-weight: 700;
  font-size: smaller;

  text-align: right;

  color: white;
}

.right-slider {
  width: 250px;
  height: 400px;

  margin-top: 40px;

  display: flex;
  align-items: flex-end;

  background-image: url("/imgs/backgrounds/main-slider/red-dead-redemption.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}
.right-game-title {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-image: linear-gradient(
    to top,
    black 0%,
    rgb(0, 0, 0, 0.7) 50%,
    rgb(0, 0, 0, 0) 100%
  );
}
.right-game-title h3 {
  font-family: "muli";
  font-weight: 700;
  font-size: smaller;

  text-align: right;

  color: white;
}

/* @media (max-width: 1450px) {
  .main-slider {
    width: 1000px;
    height: 500px;
  }
} */
