.whats-popular-and-promoted-section {
  width: 100%;
  height: 1000px;

  margin-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.whats-popular-container {
  position: relative;
}

.whats-popular-containers-titles {
  display: grid;
  grid-template-columns: auto 400px;
}
.whats-popular-title {
  font-family: "muli";
  font-weight: 600;
  font-size: smaller;

  color: white;
}
.whats-popular-adsense-title {
  font-family: "muli";
  font-weight: 600;
  font-size: smaller;

  color: white;
}

.popular {
  width: 1200px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popular-container {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: auto 400px;
}

.popular-tabs {
  height: 51px;
  border-bottom: 3px solid #6e6b6f;
}
.popular-tabs a {
  font-family: "muli";
  font-weight: 700;
  font-size: medium;

  float: left;
  display: block;
  color: #6e6b6f;
  padding: 15px 0px;
  margin-right: 16px;
  text-decoration: none;
}
.popular-tabs a:hover {
  border-bottom: 4px solid #c1e45d;
}
.popular-tabs a.active {
  color: #c1e45d;
  border-bottom: 4px solid #c1e45d;
}

.popular-games-box {
  width: 100%;
  height: 100%;

  position: relative;
}
.popular-games-container {
  display: flow-root;

  list-style: none;
}

.popular-games-divider {
  padding-top: 10px;
  border: 0;
  border-top: 0.5px solid rgba(110, 107, 111, 0.3);
}

.popular-games {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}
.popular-games-image {
  width: 100%;
  height: 4rem;
}

.popular-games-detail {
  display: flex;
  align-items: center;
}

.popular-games-title {
  font-family: "muli";
  font-weight: 600;
  font-size: large;

  padding-left: 20px;

  color: white;
}

.popular-games-keywords {
  padding-left: 15px;

  color: #6e6b6f;

  display: flex;
  align-items: center;
  align-content: center;
}
.popular-games-keywords p {
  font-family: "muli";
  font-weight: 800;
  padding: 5px;
  font-size: smaller;
}
.popular-games-keywords i {
  font-size: xx-small;
  color: #00aeef;
}

.popular-games-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-sale-price {
  width: 40px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 95px;

  background-color: #c1e45d;
}
.popular-sale-price h3 {
  font-family: "muli";
  font-weight: 800;
  font-size: small;

  color: black;
}

.popular-games-offer-price {
  height: 100%;

  position: absolute;
  right: 20px;

  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popular-old-price {
  font-family: "muli";
  font-weight: 400;
  font-size: small;

  text-decoration: line-through;

  color: #6e6b6f;
}
.popular-new-price {
  font-family: "muli";
  font-weight: 400;
  font-size: medium;

  color: white;
}

.popular-games-price {
  height: 100%;

  position: absolute;
  right: 20px;

  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popular-games-normal-price {
  font-family: "muli";
  font-weight: 400;
  font-size: medium;

  color: white;
}

.popular-adsense {
  position: relative;
  display: flex;
}
.promoted-images {
  width: 100%;
  height: 250px;

  margin-top: 10px;
}
.promoted-valve-images {
  width: 100%;
  height: 470px;

  position: absolute;
  bottom: 0;
}

@media (max-width: 1250px) {
  .popular {
    width: 100%;
  }
  .popular-container {
    grid-template-columns: auto;
  }

  .whats-popular-containers-titles {
    grid-template-columns: auto;
  }
  .popular-games-title {
    width: 180px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .whats-popular-adsense-title {
    display: none;
  }

  .popular-games-keywords {
    display: none;
  }

  .popular-adsense {
    display: none;
    visibility: collapse;
  }
}

@media (max-width: 500px) {
  .whats-popular-container {
    width: 100%;
  }

  .popular-tabs {
    height: 48px;
  }
  .popular-tabs a {
    font-size: small;

    padding: 15px 0px;
  }

  .popular-games-detail {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .popular-games-title {
    width: auto;

    font-size: medium;
  }

  .popular-games-offer {
    margin-top: 10px;
  }

  .popular-sale-price {
    position: relative;
    right: 0;
    margin-left: 20px;
  }

  .popular-games-price {
    text-align: left;

    position: relative;
    right: 0;
    margin-top: 10px;
    padding-left: 20px;
  }
  .popular-games-offer-price {
    text-align: left;

    position: relative;
    right: 0;
    padding-left: 10px;
  }
}

@media (max-width: 350px) {
  .popular-tabs {
    height: 46px;
  }
  .popular-tabs a {
    font-weight: 800;
    font-size: x-small;

    padding: 15px 0px;
  }

  .popular-games-title {
    width: 180px;
  }
}
