@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2C252D;
}

.header{
    width: 100vw;
    height: 100vh;
}

.menu{
    width: 100%;
    height: 60px;

    background-color: #231D23;
    backdrop-filter: blur(0.5);

    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
}
.menuContent{
    height: 100%;
    float: none;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);

    background: none;

    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
}
.menuContent a{
    background: none;
}


.logo{
    width: 100px;
    height: 30px;

    background: none;
}

.mainBtns{
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    background: none;
}

.steamOptions{
    font-size: small;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: white;

    padding: 15px;
}

.storeCart{
    padding: 30px;
    color: white;
}
.loginBtn{
    font-size: small;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: white;

    padding: 8px;
}
.downloadBtn{
    width: 100px;
    height: 40px;
    background: none;

    font-size: medium;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: #C1E45D;

    border-radius: 3px;
    border-style: solid;
    border-color: #C1E45D;
}



.searchMenu{
    width: 100%;
    height: 100px;

    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
}

.searchBar{
    width: 500px;
    height: 50px;

    background-color: #404F67;

    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    position: relative;

    border: none;
    border-radius: 10px;

    left: 50%;
    transform: translate(-50%);
}
.searchTxt{
    height: 50px;
    width: 450px;

    float: left;

    border: none;
    background: none;
    outline: none;

    padding: 8px;

    color: white;
    font-size: 16px;
    line-height: 100px;
}
.searchBtn{
    width: 50px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    
    font-size: 20px;

    color: white;
    background-color: #3D3F99;
    border: none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.col{
    width: 50%;
}

.slider-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: white;
}

.slider-container{
    width: 100%;
    height: 500px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
}
.main-slider{
    width: 1200px;
    height: 500px;

    display: flex;

    background-color: #231D23;
}
.image-col{
    width: 60%;
    height: 100%;

    background-image: url("imgs/backgrounds/twd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.content-col{
    width: 40%;

    position: relative;

    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    padding: 30px;
    padding-right: 0;
}

.top-seller{
    display: flex;
    align-items: center;
    align-content: center;

    color: #00AEEF;
}
.top-seller-txt{
    padding: 8px;

    font-size: small;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.game-title{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
}

.slider-keywords{
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: #6E6B6F;

    display: flex;
    align-items: center;
    align-content: center;
}
.slider-keywords p{
    padding: 5px;
    font-size: 15px;
}

.fa-circle{
    border: none;
    margin-top: 2px;
    font-size: 5px;
    color: #00AEEF;
}

.slider-price{
    position: absolute;
    bottom: 80px;

    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    color: white;
}


.slider-bottom-content{
    width: 90%;
    height: 60px;

    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;

    bottom: 15px;
    margin-bottom: 0;

    color: #6E6B6F;
}

.slider-buy{
    width: 80px;
    height: 50px;

    border: none;
    border-radius: 5px;

    margin-right: 8px;

    font-size: 24px;

    color: #6E6B6F;
    background-color: #2C252D;
}
.slider-wishlist{
    width: 45px;
    height: 50px;

    border: none;
    border-radius: 5px;

    margin-right: 8px;

    font-size: 24px;

    color: #6E6B6F;
    background-color: #2C252D;
}

.fa-windows{
    font-size: 17px;

    padding-right: 3px;
    padding-left: 8px;
}
.fa-apple{
    font-size: 17px;

    margin-bottom: 2px;
    padding-left: 3px
}

.slider-review{
    position: absolute;
    right: 40px;
}
.fa-face-grin-beam{
    font-size: 24px;

    color: #39CB87;

    position: absolute;
    right: 10px;
}